* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.screen {
    border: 10px solid rgb(76, 86, 106);
    width: 100vw;
    height: 80vh;
}

.screen > .slide {
    color: rgb(76, 86, 106);
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}